/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include "trankillity.h"

&lt {
    tapping-term-ms = <150>;
    flavor = "tap-preferred";
};

&sk {
     release-after-ms = <3000>;
};

&sl {
    /delete-property/ quick-release;
};

/ {
    behaviors {
        skq: sticky_key_quick_release {
            compatible = "zmk,behavior-sticky-key";
            label = "STICKY_KEY_QUICK_RELEASE";
            #binding-cells = <1>;
            bindings = <&kp>;
            release-after-ms = <1000>;
            quick-release;
        };
        comscl: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COMMA_SEMICOLON";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
            masked_mods = <(MOD_LSFT|MOD_RSFT)>;
        };
        dotcln: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COLON";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    combos {
        #include "combos.def"
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
                        bindings = <
    &kp Q       &kp W       &kp F       &kp P       &kp B              &kp J       &kp L       &kp U       &kp Y       &kp SQT 
    &kp A       &kp R       &kp S       &kp T       &kp G              &kp M       &kp N       &kp E       &kp I       &kp O
    &kp Z       &kp X       &kp C       &kp D       &kp V              &kp K       &kp H       &comscl     &dotcln     &kp FSLH
                                        &lt NUM_BCK &skq LSHIFT        &kp SPC     &lt NAV_ENT
                        >;
                };
        numpad_layer {
                        bindings = <
    &kp GRAVE   &none       &none       &none       &kp BSLH           &kp EQUAL    &kp N7      &kp N8      &kp N9      &kp KP_DOT     
    &sk LGUI    &sk LALT    &sk LCTRL   &sk LSHFT   &sl _FUNC          &kp PLUS     &kp N4      &kp N5      &kp N6      &kp KP_MULTIPLY
    &none       &none       &none       &none       &none              &kp MINUS    &kp N1      &kp N2      &kp N3      &kp KP_DIVIDE  
                                        &trans      &trans             &kp N0       &trans
                        >;
                };
        function_layer {
                        bindings = <
    &kp GRAVE   &none       &none       &none       &kp BSLH           &none       &kp F7      &kp F8      &kp F9      &kp F12
    &sk LGUI    &sk LALT    &sk LCTRL   &sk LSHFT   &sl _FUNC          &none       &kp F4      &kp F5      &kp F6      &kp F11
    &none       &none       &none       &none       &none              &none       &kp F1      &kp F2      &kp F3      &kp F10
                                        &trans      &trans             &trans      &trans
                        >;
                };
        nav_layer {
                        bindings = <
    &kp INS     &kp HOME    &kp UP      &kp END     &kp PG_UP          &kp C_MUTE   &none       &none       &none       &none
    &kp X_SELA  &kp LEFT    &kp DOWN    &kp RIGHT   &kp PG_DN          &kp C_VOL_UP &sk RSHFT   &sk RCTRL   &sk LALT    &sk RGUI
    &kp X_UNDO  &kp X_CUT   &kp X_COPY  &kp X_PAST  &kp X_REDO         &kp C_VOL_DN &kp C_PREV  &kp C_PP    &kp C_NEXT  &kp C_STOP
                                        &trans      &trans             &trans       &trans
                        >;
                };
        system_layer {
                        bindings = <
    &bootloader     &reset          &out OUT_USB    &out OUT_BLE        &none              &none            &out OUT_BLE    &out OUT_USB    &reset          &bootloader
    &none           &none           &none           &none               &none              &none            &none           &none           &none           &none
    &none           &bt BT_SEL 2    &bt BT_SEL 1    &bt BT_SEL 0        &bt BT_CLR         &bt BT_CLR       &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &none
                                                    &trans              &trans             &trans           &trans
                        >;
                };
        };
};